<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuming.article.mapper.BizArticleMapper">
    
    <resultMap type="BizArticle" id="BizArticleResult">
        <result property="articleId"    column="article_id"    />
        <result property="userId"    column="user_id"    />
        <result property="articleTitle"    column="article_title"    />
        <result property="articleType"    column="article_type"    />
        <result property="articleContent"    column="article_content"    />
        <result property="fileName"    column="file_name"    />
        <result property="articleAttaUrl"    column="article_atta_url"    />
        <result property="invalidDate"    column="invalid_date"    />
        <result property="prize"    column="prize"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBizArticleVo">
        select article_id, user_id, article_title, article_type, article_content, file_name, article_atta_url, invalid_date, prize, status, create_by, create_time, update_by, update_time, remark from t_biz_article
    </sql>

    <select id="selectBizArticleList" parameterType="BizArticleQuery" resultMap="BizArticleResult">
        <include refid="selectBizArticleVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="articleTitle != null  and articleTitle != ''">  and article_title like concat('%', #{articleTitle}, '%')</if>
            <if test="articleType != null  and articleType != ''"> and article_type = #{articleType}</if>
            <if test="articleContent != null  and articleContent != ''"> and article_content = #{articleContent}</if>
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="articleAttaUrl != null  and articleAttaUrl != ''"> and article_atta_url = #{articleAttaUrl}</if>
            <if test="prize != null "> and prize >= #{prize}</if>
            <if test="invalidDate != null "> and invalid_date = #{invalidDate}</if>
            <if test="createBeginTime != null "> and create_time >= #{createBeginTime}</if>
            <if test="createEndTime != null "> and create_time &lt; #{createEndTime}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
        order by create_time desc
    </select>
    <select id="selectBizArticleRankingList" parameterType="BizArticle" resultType="BizArticleCountDto">
        select
        ss.user_id,
        sum(articleCount) as allCount,
        sum(if(article_type='1',articleCount,0)) as videoCount,
        sum(if(article_type='2',articleCount,0)) as voiceCount,
        sum(if(article_type='3',articleCount,0)) as articleCount,
        sum(if(ss.status='0',articleCount,0)) as activeCount,
        sum(if(ss.status='1',articleCount,0)) as inActiveCount,
        sum(ss.prize) as totalPrize,
        sum(if(ss.status='2',articleCount,0)) as delCount,
        u.user_name as userName,u.nick_name as nickName,u.telephone,u.school_name as schoolName
        from (
        SELECT user_id, article_type,sum(prize) as prize, status, count(1) AS articleCount FROM t_biz_article
        <where>
            <if test="articleTitle != null  and articleTitle != ''"> and article_title like concat('%', #{articleTitle}, '%')</if>
            <if test="userId != null"> and user_id = #{userId}</if>
            <if test="articleType != null  and articleType != ''"> and article_type = #{articleType}</if>
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="articleContent != null  and articleContent != ''"> and article_content = #{articleContent}</if>
            <if test="articleAttaUrl != null  and articleAttaUrl != ''"> and article_atta_url = #{articleAttaUrl}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
        GROUP BY user_id, article_type,status) ss left join t_biz_user u on ss.user_id=u.user_id
        GROUP BY ss.user_id
        ORDER BY allCount
    </select>
    <select id="selectBizArticleByArticleId" parameterType="Long" resultMap="BizArticleResult">
        <include refid="selectBizArticleVo"/>
        where article_id = #{articleId}
    </select>

    <insert id="insertBizArticle" parameterType="BizArticle" useGeneratedKeys="true" keyProperty="articleId">
        insert into t_biz_article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="articleTitle != null and articleTitle != ''">article_title,</if>
            <if test="articleType != null and articleType != ''">article_type,</if>
            <if test="articleContent != null">article_content,</if>
            <if test="fileName != null">file_name,</if>
            <if test="articleAttaUrl != null">article_atta_url,</if>
            <if test="invalidDate != null">invalid_date,</if>
            <if test="prize != null">prize,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="articleTitle != null and articleTitle != ''">#{articleTitle},</if>
            <if test="articleType != null and articleType != ''">#{articleType},</if>
            <if test="articleContent != null">#{articleContent},</if>
            <if test="fileName != null">#{fileName},</if>
            <if test="articleAttaUrl != null">#{articleAttaUrl},</if>
            <if test="invalidDate != null">#{invalidDate},</if>
            <if test="prize != null">#{prize},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBizArticle" parameterType="BizArticle">
        update t_biz_article
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="articleTitle != null and articleTitle != ''">article_title = #{articleTitle},</if>
            <if test="articleType != null and articleType != ''">article_type = #{articleType},</if>
            <if test="articleContent != null">article_content = #{articleContent},</if>
            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="articleAttaUrl != null">article_atta_url = #{articleAttaUrl},</if>
            <if test="invalidDate != null">invalid_date = #{invalidDate},</if>
            <if test="prize != null">prize = #{prize},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where article_id = #{articleId}
    </update>

    <delete id="deleteBizArticleByArticleId" parameterType="Long">
        delete from t_biz_article where article_id = #{articleId}
    </delete>

    <delete id="deleteBizArticleByArticleIds" parameterType="String">
        delete from t_biz_article where article_id in 
        <foreach item="articleId" collection="array" open="(" separator="," close=")">
            #{articleId}
        </foreach>
    </delete>
</mapper>